<div id="page-content-wrapper">
    <!-- Section 1 Slider code -->
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="7000" id="anandwan-carousel">
            <!-- Overlay -->
            <div class="overlay"></div>
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1"></div>
                        <div class="hero">
                           
                            <h1>Anandwan</h1>
                            <span class="hr-line margin-bottom-30"></span>
                            <p class="margin-bottom-30">Anandwan was established in 1949 by Baba Amte with a hope of giving
                                marginalised people a dignified life through self-reliance and restoring a sense of belonging
                                which they had lost due to the ill treatment at the hands of society. </p>
                            
                            <a href="anandvan.html" class="read-more">Read More</a>
                        </div>
                </div>
                <div class="item slides">
                    <div class="slide-2"></div>
                        <div class="hero">
                           
                            <h1>hemalkasa</h1>
                            <span class="hr-line margin-bottom-30"></span>
                            <p class="margin-bottom-30">The Lok Biradari Prakalp (LBP) was started on 23rd December 1973 by Baba
                                Amte for the integrated development of the primitive tribe 'Madia-Gonds' in the Gadchiroli
                                district of Maharashtra. </p>
                            
                            <a href="hemalkasa.html" class="read-more">Read More</a>
                        </div>
                </div>
                <div class="item slides">
                    <div class="slide-3"></div>
                        <div class="hero">
                           
                            <h1>SOMNATH</h1>
                            <span class="hr-line margin-bottom-30"></span>
                            <p class="margin-bottom-30">Baba Amte established Somnath in 1967 on 1200 acres of land allotted by
                                the Govt. of Maharashtra in the Tadoba buffer zone to rehabilitate leprosy afflicted patients from Anandwan. </p>
                            
                            <a href="somnath.html" class="read-more">Read More</a>
                        </div>
                </div>
                <div class="item slides">
                    <div class="slide-4"></div>
                        <div class="hero">
                           
                            <h1>MULGAVAN</h1>
                            <span class="hr-line margin-bottom-30"></span>
                            <p class="margin-bottom-30">Mulgavan, a village in the Yavatmal District of Maharashtra is infamous for farmer
                                suicides. The primary source of income for the people in this region is agriculture and agro related activities. </p>
                            
                            <a href="mulgavan.html" class="read-more">Read More</a>
                        </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#anandwan-carousel" data-slide="prev">
                <img src="assets/images/arrow-left.png" class="arr-left">
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#anandwan-carousel" data-slide="next">
                <img src="assets/images/arrow-right.png" class="arr-right">
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="well cust-border-11">
        </div>
    <!-- end-->

    <!-- Section icon -->
    <div class="well cust-bar"></div>

    <div class="clearfix"></div>
    <br>
    <br>

    <!-- Section 2  -->
    <div class="container">
        <h1 class="margin-0 padding-0 text-center header-text">Maharogi Sewa Samiti, Warora</h1>
        <span class="hr-line margin-bottom-20"></span>
        <div class="col-lg-12 margin-bottom-30">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 padding-0">
                <div class="col-lg-12 hidden-content" align="center">
                    <p>Maharogi Sewa Samiti, Warora is a nonprofit organisation in the
                        Chandrapur district of Maharashtra, India. It was established in 1949 to help
                        socially disadvantaged people enhance their livelihood
                        capabilities through self-discovery and empowering them to
                        contribute to society. </p>
                    <div class="hidden-content-show">
                        <p>The internationally known human rights
                            activist Baba Amte founded MSS, Warora to better the plight of
                            the marginalized leprosy afflicted and people with disabilities
                            through treatment, training and active inducement in self-
                            managed communes.
                            MSS, Warora has been a pioneer in medical treatment and rehabilitation of
                            leprosy patients in the world. Till date, more than 2.6 million people have
                            benefited from our services. Our work spans a wide spectrum of activities
                            ranging from the provision of basic healthcare and rehabilitation,
                            development of land and water resources, enhancement of
                            income and sustainable livelihoods, imparting formal and
                            vocational education and sensitization of youth on environmental
                            and socio-economic issues. MSS, Warora strives to couple
                            innovative tools and technology with these activities for
                            environment-friendly means of coexistence. It is fast becoming a
                            focal point from where the quintessence of new paradigms of
                            social work and developmental activities is spreading far and
                            wide. The institution has grown over the last six decades to
                            become an internationally renowned institution and perhaps the
                            largest community of leprosy afflicted and people with
                            disabilities in the world.
                            His legacy continues to this date through the various projects of MSS, Warora.
                        </p>
                        <strong class="hide-readless"></strong>
                        <!-- <button type="button" class="btn hide-readmore hide-readless read-btn">Read Less</button> -->
                    </div>
                    <button type="button" class="btn hide-readmore read-btn">Read More</button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <!-- end -->

    <!-- Section 3 -->
    <div class="well stones-smilestone">
        <div class="container">
            <div class="col-lg-12 margin-top-137">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <h1 class="margin-0 padding-0 text-center header-text color-white">From stones to milestones to smilestones</h1>
                    <span class="hr-line margin-bottom-30"></span>
                    <p class="color-white text-center margin-bottom-30 margin-top-30">Anandwan, through its multiple projects and diverse initiatives in healthcare, formal and vocational education,
                    agriculture, development of land and water resource, employment,  empowerment and youth sensitization, not only
                    achieved self-sustaining economy but helped people to regain their self-respect. It brought smiles to millions of faces </p>
                    <a href="about-us.html"><button class="read-btn center-block white-btn" type="button">Read More</button></a>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    <!-- end -->
    <section id="home" data-scrolling-slides="1" class="scrolling parallax-bg home-loading">
        <div class="preloader">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="home-hero-bg">
            <div class="home-wrapper">
                <div class="home-container">
                    <div class="container-hero">
                        <div class="hero-first-title"></div>
                        <div class="hero-second-title"></div>
                        <p> Now Anandwan is a world-renowned award winner co-operative village
                        carved out of barren land where unity,
                            peace and harmony reign supreme.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="recipient" data-scrolling-slides="1" class="scrolling parallax-bg">
        <p> Now Anandwan is a world-renowned award winner co-operative village carved out of barren land where unity,
            peace and harmony reign supreme.</p>
    </section>

    
</div>
<div class="clearfix"></div>