<div class="cust-well">
<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
<span class="hamb-top"></span>
<span class="hamb-middle"></span>
<span class="hamb-bottom"></span>
</button>

<div class="container cust-container">
<a href="index-2.html"><img src="assets/images/logo.png" class="float-left margin-left-50 img-center logo-padding logo-shrink"></a>
<!-- <img src="assets/images/donate2.png" class="float-right margin-top-20 img-center"> -->
<!-- <a href="http://anandwan.squarespace.com/contribute/"><img src="img/donate2.svg" onmouseover="this.src='img/donate2h.svg'" onmouseout="this.src='img/donate2.svg'" border="0" alt="" class="float-right margin-top-20 img-center"></a>-->
<button class="float-right margin-top-20 donate"><label><a href="donate.html">DONATE</a></label></button>
</div>
</div>

<div class="clearfix"></div>

<!-- Page Content -->
<div id="page-content-wrapper">
<div class="well healthcare_bg m-bg">
    <!--<div class="container">
        <h1>From stones<br> to smilestones</h1>
    </div>-->
</div>
<div class="well cust-border-11"></div>
<div class="medical_icon" align="center">
    <img src="assets/images/icon.png" class="img-responsive m-icon">
</div>
<div class="healthcare healthcare_intro">
    <div class="container margin-top-20">
        <div class="col-lg-12" align="center">
            <h2>Healthcare</h2>
            <img src="assets/images/healthcare-line.jpg" class="img-responsive" align="middle">
        </div>
        <div class="col-lg-12 hidden-content" align="center">
            <p>Healthcare spearheads all the activities of Maharogi Sewa Samiti, Warora (MSS).
            It has always been and will remain the most significant pillar of MSS. What began
            as an attempt to provide holistic healthcare to the people affected by leprosy,
            has today, expanded into a large-scale project providing healthcare to all
            the marginalized sections of society.</p>
            <div class="hidden-content-show">
                <p>Treatment of disease is the primary focus, however, preventive healthcare
        and comprehensive attention to the patient’s socio- economic and psychological
        welfare which enables the individual to lead a healthy, productive and confident
        life forms a major portion of MSS’s healthcare philosophy.</p>
                <strong class="hide-readless"></strong>
                <button type="button" class="btn hide-readmore hide-readless">Learn Less</button>
            </div>
            <button type="button" class="btn hide-readmore">Learn More</button>
        </div>
    </div>
</div>
</div>

<!--carousel--->

<div id="page-content-2">
<section id="tab-anandvan">
    <div id="tab-anandvan2">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#SitaRatan" aria-controls="SitaRatan" role="tab" data-toggle="tab"> Sita Ratan Leprosy Hospital</a>
                </li>
                <li role="presentation">
                    <a href="#ShirdiSaiBaba" aria-controls="ShirdiSaiBaba" role="tab" data-toggle="tab">Shri Shirdi Sai Baba Hospital</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="SitaRatan">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-caption slide-1 m-h2-t">
                <h3>Healthcare At <span>Anandwan</span></h3>
                <!-- <img src="assets/images/carousel_line.jpg" class="img-responsive hidden-xs">-->
                <p class="">Healthcare at Anandwan specializes in providing treatment to leprosy and provides primary and secondary healthcare 							facilities.
                <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since.--></p>
            </div>
            <div class="item active sitaRatan-bg">

            </div>

        </div>
<!-- Controls -->
<!--carousel end-->
<!--tab-container-->
<div class="container m-h-txt">
<!-- Nav tabs -->
<!-- Tab panes -->
<div class="hidden-content">
<p>	Sita Ratan Leprosy Hospital started as a small dispensary in 1951 in Anandwan providing primary
healthcare to the needy. Over the years it has evolved into a 50-bedded hospital offering free primary,
secondary and tertiary healthcare services to around 30,000 patients, mostly from rural interior regions
    in central India and belonging to very poor families. <br>
<!-- <strong class="hide-readmore">Learn more</strong></p> -->
<button type="button" class="btn cust-btn hide-readmore center-block">Learn More</button>
<div class="hidden-content-show">
<p>	The hospital's main building was built in the year 2002 with funds generously donated by Mr. L.R. Gajaria and was named in memory of Mr. Gajaria’s parents. The hospital is equipped with operation theatre, recovery room, laboratory, digital X-ray unit, separate male and female IPD, medicine disbursement counter and administration cabins. Separate OPD wing with special area for dressing of patients affected by leprosy and a fully functioning dental unit was added to the hospital campus in the year 2014 with the financial assistance from Nouvelle Planete, Switzerland. A physiotherapy centre is also present in the hospital premise. All support staff of the hospital including nurses, dressers and attendants are cured leprosy afflicted persons.</p>
<!-- <strong class="hide-readless">...Learn Less</strong> -->
<button type="button" class="btn cust-btn center-block hide-readless">Learn Less</button>
</div>
</div>
</div></div><div role="tabpanel" class="tab-pane" id="ShirdiSaiBaba">
<!-- Wrapper for slides -->  <div class="carousel-inner" role="listbox">
<div class="carousel-caption slide-1 m-h2-t">     <h3>Healthcare At <span>Anandwan</span></h3>
<!-- <img src="assets/images/carousel_line.jpg" class="img-responsive hidden-xs"> -->
<p class="">Healthcare at Anandwan specializes in providing treatment to leprosy and provides primary and secondary healthcare facilities.
<!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.--></p>  </div>
<div class="item active shirdisaibaba-bg ">

</div>    </div>  <!-- Controls -->   		<!--carousel end-->                <!--tab-container-->
<div class="container m-h-txt">  <!-- Nav tabs -->   <!-- Tab panes -->
<div class="hidden-content">
<p>	Shirdi Sai Baba hospital offers free primary, secondary and tertiary healthcare services to poor
patients from nearby villages, people with disabilities and other residents of Anandwan. The hospital has 30 bedded IPD, OPD, three well-equipped operation theatres and a unit
for making special artificial limbs for patients needing prosthetic care.
<!--<strong class="hide-readmore">... Learn more</strong>--></p>
<button type="button" class="btn cust-btn hide-readmore center-block">Learn More</button>
<div class="hidden-content-show">
<p> All support staff
of the hospital including nurses and attendants are cured leprosy afflicted persons.
The hospital was setup in 1991 with financial support from Shri Sai Baba trust.
</p>        <!-- <strong class="hide-readless">...Learn Less</strong> -->
<button type="button" class="btn cust-btn center-block hide-readless">Learn Less</button>

</div>    </div>	</div>
</div>

</div>
</section>
<!--tab-container-end-->		</div><section id="tab-hemalkasa">
<div id="tab-hemalkasa2"><div class="container">
<!--CAROUSEL --><ul class="nav nav-tabs" role="tablist">    <li role="presentation" class="active"><a href="#LokBiradari" aria-controls="LokBiradari" role="tab" data-toggle="tab">Lok Biradari Prakalpa Hospital </a></li>     </ul>
</div>        </div>
<div class="tab-content">    <div role="tabpanel" class="tab-pane active" id="LokBiradari">

<div class="carousel-inner" role="listbox">
<div class="carousel-caption slide-2 m-h2-t">
<h3>Healthcare At <span>Hemalkasa</span></h3>
<!-- <img src="assets/images/carousel_line.jpg" class="img-responsive hidden-xs">-->
<p class="">Healthcare at Hemalkasa focuses on providing  primary, secondary and tertiary healthcare
facilities in the tribal areas of Gadchiroli district.</p>
</div>
<div class="item active LokBiradari-bg">

</div>

</div>


<!--CAROUSEL END-->
        <!--tab-container-->

<div class="container m-h-txt1">
<!-- Nav tabs -->


<!-- Tab panes -->

<div class="hidden-content">
<p>	The Lok Biradari Prakalpa (LBP), tribal project of MSS was established in the year 1973
at Hemalkasa with an aim to mainstream the tribal population, especially the Madia-Gond tribes.
In the initial years primary healthcare services were rendered under a tree to the local population
which was suffering from deadly diseases like cerebral malaria, malaria, tuberculosis, ascites,
cancer and sickle cell anaemia. The tribal population was also victims of bear bites, burns, snake bites, scabies and severe malnutrition.
<!-- <strong class="hide-readmore">... Learn more</strong> --></p>
<button type="button" class="btn cust-btn hide-readmore center-block">Learn More</button>
<div class="hidden-content-show">
<p>The LBP Hospital was renovated in 2013 with the help of many donors with chief donor
    being Nouvelle Planete, Switzerland.  The hospital caters to around 45,000 patients annually
    from 1,000 villages in a 250 km radius, including those from the neighbouring states of
    Chattisgarh and Telangana. The hospital offers free primary, secondary and tertiary
    healthcare services. It has a 50 bedded IPD and is equipped with all modern diagnostic
    and interventional facilities like ultrasonography, X-ray, pathology lab, delivery room
    and operation theatres.</p>
<!-- <strong class="hide-readless">...Learn Less</strong>-->
<button type="button" class="btn cust-btn center-block hide-readless">Learn Less</button>
</div>
</div>


</div>

</div><div role="tabpanel" class="tab-pane" id="HealthCenter">
<div class="carousel-inner" role="listbox">  <div class="carousel-caption slide-2 m-h2-t">
<h3>Healthcare At <span>Hemalkasa</span></h3>
<!-- <img src="assets/images/carousel_line.jpg" class="img-responsive hidden-xs">  -->
<p class="">Healthcare at Hemalkasa focuses on providing  primary, secondary and tertiary healthcare
facilities in the tribal areas of Gadchiroli district.</p>
</div>
<div class="item active healthCenter-bg">

</div>    </div>
<!--CAROUSEL END--> 		        <!--tab-container-->      <div class="container m-h-txt1">  <!-- Nav tabs -->
<!-- Tab panes -->      <div class="hidden-content">
<p>This multi-specialty hospital caters to around 45,000 patients a year
from 1,000 villages in a 250 km radius, including people from Chhattisgarh
and Andhra Pradesh. The hospital has 50 beds and is equipped with all essential
facilities like ultrasonography, X-ray, pathology laboratory
<!-- <strong class="hide-readmore">... Learn more</strong>--></p>
<button type="button" class="btn cust-btn hide-readmore center-block">Learn More</button>
<div class="hidden-content-show">
<p>This multi-specialty hospital caters to around 45,000 patients a year from 1,000 villages in a 250 km radius,
including people from Chhattisgarh and Andhra Pradesh. The hospital has 50 beds and is equipped with all essential
facilities like ultrasonography, X-ray, pathology laboratory. This multi-specialty hospital caters to around 45,000
patients a year from 1,000 villages in a 250 km radius, including people from Chhattisgarh and Andhra Pradesh.
The hospital has 50 beds and is equipped with all essential facilities like ultrasonography, X-ray, pathology laboratory.
This multi-specialty hospital caters to around 45,000 patients a year from 1,000 villages in a 250 km radius,
including people from Chhattisgarh and Andhra Pradesh. The hospital has 50 beds and is equipped with all essential
facilities like ultrasonography, X-ray, pathology laboratory</p>
<!-- <strong class="hide-readless">...Learn Less</strong>  -->
<button type="button" class="btn cust-btn center-block hide-readless">Learn Less</button>
</div>             </div></div></div>  <!-- Controls -->
</div>
</section>
<!--tab-container-end-->

<!--Initiative Section-->

<section id="initiative">
    <div class="container">
    <h2 class="heading margin-0" align="center">Initiatives</h2>
    <div class="row initiative-content">

        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <div class="line1"></div>
            <h2 class="heading margin-0 h-lead" align="center">Awareness</h2>
            <div class="awareness">
                <img src="assets/images/school-health-program.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>School Health Program</h4>
                        <p>Through School Health Awareness Program (SHAPE), children are taught the
                        importance of maintaining overall </p>
                    </div>
                    <div align="center">
                        <!-- modal 1-->
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal1">Learn More</button>
                    </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <div class="line1"></div>
            <h2 class="heading margin-0 h-lead" align="center">Diagnostic</h2>
            <!-- <div class="awareness">
                <img src="assets/images/Retinopathy-Camp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>Retinopathy Camp</h4>
                        <p>Doctors and their team from Suraj Eye Institute, Nagpur visited Anandwan on 2nd and 4th Wednesday</p>
                    </div>
                    <div align="center">

                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal2">Learn More</button>
                    </div>
            </div>-->
            <div class="awareness">
                <img src="assets/images/Haemoglobe.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>Project Haemoglobe</h4>
                        <p>Project 'Haemoglobe' was launched under Baba Amte Bal Sakshmikaran
                        program in collaboration with</p>
                    </div>
                    <div align="center">
                        <!-- modal 5-->
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal2">Learn More</button>
                    </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
            <h2 class="heading margin-0 h-lead" align="center">Surgical</h2>
            <div class="awareness">
                <img src="assets/images/general-surgery-camp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>General Surgery Camp</h4>
                        <p>With an objective of providing urban healthcare
                        infrastructure and services
                        to rural populace, </p>
                    </div>
                    <div align="center">
                        <!-- modal 3-->
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal3">Learn More</button>
                    </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div><!--row-->

    <div class="row initiative-content">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <div class="awareness">
                <img src="assets/images/Physiotheraphy.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4> Physiotherapy Camp</h4>
                        <p>Every year on the occasion of world physiotherapy day, students and
                        professors from </p>
                    </div>
                    <div align="center">
                        <!-- modal 5-->
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal4">Learn More</button>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <!--<div class="awareness">
                <img src="assets/images/CataractCamp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>Cataract Camp</h4>
                        <p>Mega cataract surgery camp at Anandwan in collaboration with J. J.
                        Hospital & I-Care Charitable trust,</p>
                    </div>
                    <div align="center">

                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal4">Learn More</button>
                    </div>
            </div>-->
            <div class="awareness">
                <img src="assets/images/Dental-Camp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>Dental Camp</h4>
                        <p>Oral hygiene is considered the first line of defence against most
                        diseases and awareness of this is of </p>
                    </div>
                    <div align="center">
                        <!-- modal 1-->
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal5">Learn More</button>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns">
            <div class="awareness">
                <img src="assets/images/reconstructive-surgery-camp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>Reconstructive Surgery Camp</h4>
                        <p>Reconstructive Surgery Camp is held annually in
                        collaboration with the 'Hands for Life',</p>
                    </div>
                    <div align="center">
                        <!-- modal 1-->
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal6">Learn More</button>
                    </div>
            </div>
        </div>

        <div class="col-lg-1"></div>
    </div><!--row-->

    <div class="row initiative-content">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <div class="awareness">
                <img src="assets/images/SRH-seminar.jpg" class="img-responsive">
                <div class="clearfix"></div>
                <div class="inner-content">
                    <h4> SRH Seminar</h4>
                    <p>A reproductive health seminar for children of 12-14 age group, comprising of visually</p>
                </div>
                <div align="center">
                <!-- modal 5-->
                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal7">Learn More</button>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <div class="awareness">
                <img src="assets/images/Retinopathy-Camp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                <div class="inner-content">
                    <h4>Retinopathy Camp</h4>
                    <p>Ophthalmic health allows people to lead healthy and
                    happy lives as the eye is considered one of the most </p>
                </div>
                <div align="center">
                    <!-- modal 2-->
                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal8">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns">
            <div class="awareness">
                <img src="assets/images/congenital-anomalies-camp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                <div class="inner-content">
                    <h4>Congenital Anomalies Camp</h4>
                    <p>Doctors from Nagpur conduct surgical camp to correct congenital
                    anomalies like hypospadias, epispadias, etc.  </p>
                </div>
                <div align="center">
                    <!-- modal 2-->
                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal9">Learn More</button>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>
    </div><!--row-->

    <div class="row initiative-content">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <div class="awareness">
                <img src="assets/images/blood-donation.jpg" class="img-responsive">
                <div class="clearfix"></div>
                <div class="inner-content">
                    <h4> Blood Donation Camp</h4>
                    <p>The students of various colleges run by MSS and residents of
                    Anandwan routinely donate blood to help</p>
                </div>
                <div align="center">
                <!-- modal 5-->
                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal10">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns margin-right-3per">
            <div class="awareness">
                <img src="assets/images/heart-ailment-detection-camp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                <div class="inner-content">
                    <h4>Heart Ailment Detection Camp</h4>
                    <p>Heart disease have become a major cause of concern in the rural areas.
                    To address this problem, </p>
                </div>
                <div align="center">
                    <!-- modal 2-->
                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal11">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 columns">
            <div class="awareness">
                <img src="assets/images/CataractCamp.jpg" class="img-responsive">
                <div class="clearfix"></div>
                    <div class="inner-content">
                        <h4>Mega Cataract Surgery Camp</h4>
                        <p>Mega cataract surgery camp is conducted annually
                        at Anandwan in
                        collaboration Doctors</p>
                    </div>
                    <div align="center">
                        <!-- modal 5-->
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal12">Learn More</button>
                    </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div><!--row-->

</div><!--container-->
</section>