    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="well contactUs_bg m-bg"></div>
        <div class="well contact-us-border"></div>
        <div class="healthcare healthcare_intro">
           <div class="container margin-top-20">
              <div align="center" class="col-lg-12">
                 &nbsp;
                 <h2>Contact us</h2>
                 <img align="middle" class="img-responsive" src="assets/images/con-line.png" />
              </div>
             
           </div>
           <br />
           &nbsp;
        </div>
     </div>


     <section>
         <div class="container">
             <div class="row">
                <div class="col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.034691929073!2d79.06667606398345!3d21.11118303595368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4bf799f10d76d%3A0x273ac86aaa4db174!2sChatrapati%20Chowk%2C%20Nagpur%2C%20Maharashtra%20440015!5e0!3m2!1sen!2sin!4v1579105774330!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="col-md-6">
                   
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" name="" value="" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" name="button">
                        Submit
                    </button>
                  </form>
                </div>
             </div>
         </div>
     </section>