<!-- Footer code -->
<div class="footer">
    <div class="container padding-top-21 padding-bottom-9">
        <div class="col-lg-12">
            <div class="col-lg-2 col-md-2 margin-right-3per margin-bottom-xs-20">
                <img src="assets/images/logo-white.png" class="center-block">
            </div>
            <div class="col-lg-3 col-md-3 margin-right-1per margin-bottom-xs-20">
                <h3 class="margin-bottom-10">Maharogi Sewa Samiti, Warora,</h3>
                <p>At & Post Anandwan, Tal. Warora, <br>Dist.
                    Chandrapur - 442 914. <br>Maharashtra. India.</p>
            </div>
            <div class="col-lg-3 col-md-3 margin-right-2per margin-bottom-xs-20">
                <h3 class="margin-bottom-10 ">get in touch</h3>
                <p>Email : visitors@anandwan.in<br>
                    Visit us : <a href="index.html" class="weblink">www.anandwan.in</a><br>
                    Ph. : +91-7447-424000 / 9011-094606</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <h3 class="margin-bottom-15">SIGNUP TO OUR NEWSLETTER</h3>
                <form action="http://anandwan.in/action_page.php" class="margin-bottom-10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email id" name="search" required>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="sign-up">Sign up</span></button>
                        </div>
                    </div>
                </form>
                <a href="https://www.facebook.com/Anandwansmartvillage/" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCSVBaNtiehQTDRRGPYdpWlg" class="fa fa-youtube" target="_blank"></a>
            </div>
        </div>
    </div>
</div>
<div class="sub-footer">
    <div class="container">
        <div class="col-lg-6">
            <p class="text-left margin-bottom-0 footer-text">Copyright: Maharogi Sewa Samiti, Warora</p>
        </div>
        <div class="col-lg-6">
            <p class="text-right margin-bottom-0 footer-text">Designed and Developed by <a href="http://themediatree.co.in/" target="_blank">The Media Tree LLP</a></p>
        </div>
    </div>
</div>