        <!-- Baba Amte - The Journey -->
        <div id="page-content-wrapper">
			<div class="well babaamte_bg m-bg">
				
            </div>
			<div class="well volunteer-border"></div>
			<div class="healthcare healthcare_intro">
				<div class="container margin-top-20">
					<div class="col-lg-12" align="center">
						<br>
						<h2>Baba Amte - The Journey</h2>
                        <img src="assets/images/volunteer-line.png" class="img-responsive" align="middle">
						<br>
					</div>
                    <div id="map"></div>
				</div>
			</div>
        </div>
		
		<!-- Young Baba Amte -->
		<section class="baba-amte-young1">
			<div class="container">
				<div class="col-lg-3">
					<img src="assets/images/baba-amte-young.png" class="img-responsive center-block" alt="Baba Amte">
				</div>
				<div class="col-lg-9">
					<p>Murlidhar Devidas Amte popularly known as Baba Amte was born to an affluent Hindu 
					Brahmin family on the 26th of December 1914 in Hinganghat, Wardha.</p>
					<p>As a young boy, he enjoyed all the privileges that came with his family’s wealth.
					However, at a very young age he became aware of the plight of the poor and the marginalised 
					and often felt that he should do something to end this injustice.
					</p>
					<p>Once, during Diwali he encountered a blind beggar and emptied his pocket full of 
					coins into his begging bowl. The beggar, feeling the weight thought as though he was
					being made a fool of and exclaimed “I am only a beggar young sir, don’t put stones
					in my bowl”, to which the boy responded “They’re coins, not stones. Count them if you wish.”</p>
				</div>
			</div>	
		</section>
		
		<!-- Young Baba Amte -->
		<section class="baba-amte-young">
			<div class="container">
				<div class="col-lg-9">
					<p>This incident left a deep, lasting impact on the boy. The idea that 
					such misery could exist so close to his perfect world hit him hard. 
					He regularly played witht the servants’ children despite his father’s disapproval.
					The rigidity that existed in his father’s world didn’t appeal to him at all.
					He didn’t understand why people manufactured so many ways to divide themselves.</p>
					<p>He wished to become a doctor but was forced to become a lawyer by his father. 
					He wanted his son to handle the family estate. For a while, Baba took to the life of an idyllic,
					wealthy young man very well. He spent his days horse riding, hunting and playing games 
					of bridge and tennis at the local club.  His car was decorated with the fur of the leopard he had shot.
					He was living an enviable life of the rich and privileged that only the fortunate get a chance to live.</p>
				</div>
				<div class="col-lg-3">
					<img src="assets/images/baba-amte-young2.png" class="img-responsive center-block" alt="Baba Amte">
				</div>
			</div>
		</section>	
		
		<!-- Scroller Gallery -->
		<!-- <section class="baba-amte-young">
			<div class="well">	
				<div id="content-1" class="content">
					<ul>
						<li><img src="assets/images/scroller-gallery/First_Gallary_1.jpg" alt="baba amte the journey" /></li>
						<li><img src="assets/images/scroller-gallery/First_Gallary_2.jpg" alt="baba amte the journey" /></li>
						<li><img src="assets/images/scroller-gallery/First_Gallary_3.jpg" alt="baba amte the journey" /></li>
						<li><img src="assets/images/scroller-gallery/First_Gallary_4.jpg" alt="baba amte the journey" /></li>
						<li><img src="assets/images/scroller-gallery/First_Gallary_5.jpg" alt="baba amte the journey" /></li>
						<li><img src="assets/images/scroller-gallery/First_Gallary_6.jpg" alt="baba amte the journey" /></li>
						<li><img src="assets/images/scroller-gallery/First_Gallary_7.jpg" alt="baba amte the journey" /></li>
						<li><img src="assets/images/scroller-gallery/First_Gallary_8.jpg" alt="baba amte the journey" /></li>
					</ul>
				</div>
			</div>	
		</section> -->
		<!-- end -->
		
		<!-- extravagance text -->
		<section class="baba-amte-young">
			<div class="container">
				<div class="col-lg-8">
					<p>But underneath this extravagance, he was restless. He felt as though he must serve a bigger purpose
					in the world. He began to help and volunteer wherever possible and also became involved with the freedom struggle.
					He was deeply influenced by greats like Tagore, Gandhi and Sane Guruji. He also started working as a waste carrier 
					to experience the hardships they experienced. During this time, he encountered a sight that would change his life forever - 
					</p>
					<p>" A man in the last stage of leprosy. A rotting mass of human flesh with two holes in place of a nose, 
					without traces of fingers or toes, with worms and sores where there should have been eyes. Literally
					a living corpse."</p>
					<p>
					He ran away, terrified of the infection and of the sight he had seen. He had always thought 
					of himself as being fearless and daring. The encounter with Tulshiram (the leprosy afflicted man)
					shattered his self-image. Even as he cared for the dying man this fear would not leave him.</p>
					
				</div>
				<div class="col-lg-4 quotes line-ver">
					<h2>I sought my soul, but<br> my soul I could not <br>see, I sought my god,<br>
					but my god eluded<br> me; And then I <br>sought my sisters <br>and my brothers,
					and <br>in them I found all <br>three.</h2>
				</div>
			</div>
		</section>
		
		<!-- Second Scroller Gallery -->
		<!-- <section class="baba-amte-young">
			<div id="content-2" class="content">
				<ul>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_1.jpg" alt="baba amte the journey" /></li>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_2.jpg" alt="baba amte the journey" /></li>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_3.jpg" alt="baba amte the journey" /></li>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_4.jpg" alt="baba amte the journey" /></li>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_5.jpg" alt="baba amte the journey" /></li>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_6.jpg" alt="baba amte the journey" /></li>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_7.jpg" alt="baba amte the journey" /></li>
					<li><img src="assets/images/scroller-gallery/2nd_Gallary_8.jpg" alt="baba amte the journey" /></li>
				</ul>
				</div>
		</section> -->
		
		
		
		<!-- Abhay Sadhak text-->
		<section class="baba-amte-young">
			<div class="container">
				<div class="col-lg-8">
					<p>"I had never been frightened of anything. Because I fought British tommies to save
					the honour of an Indian lady, Gandhiji called me 'Abhay Sadhak', fearless seeker of the truth.
					When the sweepers of Warora challenged me to clean the gutters, I did so; but the same person 
					quivered in fright when he saw the living corpse of Tulshiram."</p>
					<p>For the next 6 months he lived in the unrelenting agony of this crisis.
					He was certain "where there is fear, there is no love, and where there is no love, there is no God."
					There seemed only one way of overcoming this problem. He must live and work with the leprosy afflicted. </p>
					<p>Baba Amte decided to take up the cause of serving leprosy patients for the very reason that he felt
					disgusted to be a part of a society that was so dispassionate towards the plight 
					of such downtrodden human beings. He regarded this apathy as 'Mental Leprosy' by aptly
					quoting that the most frightening disease is not losing one’s limbs, but losing one’s strength 
					to feel kindness and compassion for other human beings.</p>
				</div>
				<div class="col-lg-4 quotes line-ver">
					<h2>I don't want to be a <br>leader. I want to be<br> one who goes<br> around with a little <br>
					oil can and offer help<br> when I see a break-<br>down.</h2><br><br><br><br>
				</div>
			</div>
		</section>
		
		<!-- Maharogi Sewa Samiti -->
		<section class="baba-amte-young">
			<div class="container maharogi-seva">
				<img src="assets/images/Baba_with_sunrise.jpg" alt="Baba with sunrise in anandwan" class="center-block">
				<h2 class="text-center ">Maharogi Sewa Samiti, Warora<br><span>(Leprosy Service Society)</span></h2>
				<p>Maharogi Sewa Samiti, Warora (Leprosy Service Society) was established with the intention of 
				treating leprosy patients and for society afflicted by mental leprosy.Baba chose to 
				call this paradise 'Anandwan', meaning 'Forest of Bliss'.</p>
				<p>Baba Amte knew that simply curing the disease wasn’t enough. It was important to create a self-sufficient,
				productive society made of these social outcasts. Starting with agriculture and expanding to various small
				and medium scale industries right from textiles to wood work, MSS, Warora has grown into the productive 
				haven of Baba's dreams.</p>
				<p>Established in 1949 with Rs.14, 6 leprosy patients and a lame cow,  MSS, Warora has spread its work all 
				over Maharashtra and many organizations have taken inspiration from Baba’s work and are working for 
				the downtrodden across the country and even the entire world. The impact Baba Amte had across the world is 
				immeasurable and a soul like his is a rare gem the world was lucky to have.</p>
			</div>
		</section>
		<div class="container">
			<img src="assets/images/Baba_walking.jpg" class="center-block">
		</div>